h1 {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}

.Emoji {
  font-size: 45px;
}
.today-Wether {
  font-size: 45px !important;
  vertical-align: top;
}
.Centi,
.Fahrenheit {
  line-height: 24px;
  margin-top: 10px;
  padding-left: 6px;
  vertical-align: top;
}
.low {
  color: grey;
}
.form-control,
.btn-primary {
  margin: 10px;
}
.container {
  display: block;
  border: 2px solid #3e54ac;
  border-radius: 5px;
  box-shadow: #bface2;
  background-color: #ecf2ff;
  margin-top: 20px;
  padding: 10px auto;
}
.emoji1,
.emoji2,
.emoji3,
.emoji4,
.emoji5,
.emoji6 {
  font-size: 30px;
}
.search {
  margin-left: 40px;
}
.btn {
  color: #030304;
  background-color: #bface2;
}
button:hover {
  color: #655dbb;
}
.form-control {
  background-color: #bface2;
  opacity: 0.2;
}
.city {
  font-size: 30px;
}
